.card {
  position: relative;
  /* dummy working values */
  width: 486px;
  height: 838px;
  border-radius: 25px;
  backface-visibility: visible;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.radius {
  border-radius: 25px;
}

.inner {
  backface-visibility: visible;
  position: absolute;
  border-radius: 25px;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  transform-style: preserve-3d;
}

.inner::after {
  backface-visibility: visible;
  position: absolute;
  content: '';
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  border: 6px solid #FF42BC;
  border-radius: 25px;
  
}

.innerborder {
  backface-visibility: visible;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 20px;
  bottom: 20px;
  border:5px solid #B6E1BC;
  border-radius: 25px;
}

.back, .face {
  backface-visibility: hidden;
}
.back img, .face img {
  backface-visibility: hidden;
}
.face {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.unflipped {
  transform: rotateY(0);
}

.flipped {
  transform: rotateY(180deg);
}
