
.readingbox {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: center;
  align-content: stretch;

  margin: 2rem 0;
  border: 0.313rem solid #295B6B;
  padding: 1.5rem 1.5rem;
  border-radius: 2.188rem;
  background: radial-gradient(circle, rgba(3,31,51,0.75) 0%, rgba(1,28,48,0.75) 100%);
  box-shadow: 0 0 1.75rem 0.063rem rgba(64,134,158,1);
  min-width: 45vw;
  max-width: 65vw;
  text-align: center;
  font-weight: normal;
  opacity: 0;
  transition: opacity 2s;
}

.rb_contents {
  text-align: center;
  line-height: 1.4;
}

.shown {
  opacity: 1;
}