.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@keyframes tilescroll {
  from { 
    background-position:
      0 0, 
      0 0; }
  to { 
    background-position:
      1600px 950px, 
      0 0; }
}

.hero {
  position: relative;
  min-height: 25rem;
  padding: 2em 0;
  width: 100vw;

  background-size: cover;
  background-image: var(--maincave-url);
}

.dragonlogo {
  text-align: center;
  max-width: 95vw;
  position: relative;
}

.dragonlogo::before {
  position: absolute;
  content: '';
  z-index: 0;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background-image: 
    var(--gridtile-url), 
    linear-gradient(180deg, rgba(244,21,162,1) 0%, rgba(242,132,234,1) 100%);
  background-size: 
    60px, 
    100%;
  background-repeat: 
    repeat, 
    repeat-x;
  animation: tilescroll 120s linear infinite;

  mask-image: var(--dragonmask-url);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: top;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: var(--max-width);
  text-align: center;

  box-sizing: border-box;
  padding: 1rem 1rem;
}

.descrow {
  text-align: center;
  display: flex;
  justify-content: center;
}

.descrow img {
  flex-grow: 0;
  flex-shrink: 0;
}

.description {
  margin: 2rem 0;
  border: 0.313rem solid #295B6B;
  padding: 3rem 1.5rem;
  border-radius: 2.188rem;
  background: radial-gradient(circle, rgba(3,31,51,0.75) 0%, rgba(1,28,48,0.75) 100%);
  box-shadow: 0 0 1.75rem 0.063rem rgba(64,134,158,1);
  min-width: 18.75rem;
  font-weight: normal;
}

.screens {
  display: grid;
  grid-template-columns: repeat(1, minmax(33%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.card {
  position: relative;
  min-height: 18.75rem;
  margin-bottom: 1rem;
}

.card img {
  object-fit: contain;
}

.creditshead {
  margin-bottom: 1rem;
}

.credits {
  display: grid;
  grid-template-columns: repeat(3, minmax(33%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.creditspack {}

.creditpack {
  margin-bottom: 0.75rem;
}

.credittitle {
  /*font-style: italic;*/
  font-size: 85%;
  font-family: var(--ptmono-family);
}

.credit {
  font-weight: bold;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

@media (prefers-reduced-motion) {
  .dragonlogo::before {
    animation: none;
    
  }
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 1rem 2rem;
  }

  .hero {
    min-height: 12.5rem;
    padding-left: 0.5rem;
  }

  .descrow {

    flex-wrap: wrap-reverse;
  }

  .credits {
    grid-template-columns: 1fr;
    margin-bottom: 7.5rem;
    max-width: 20rem;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

  .hero {
    min-height: 18.75rem;
  }


  .credits {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  
}
